
input[type="text"],input[type="email"],input[type="password"],input[type="tel"]  {
    border: 1px solid #828999;
    padding: 10px;
    border-radius: 5px;
    display: table-cell;
    width: 100%;
    background: #fff !important;
    color: #999999;
    margin-left: 20px;
    margin-bottom: 10px;
    outline: none;
    transition: 0.3s;
    text-indent: 1.5em;
    overflow: hidden;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
	font-size:18px !important;
	color: #EEEEEE !important;
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);   
}

#back_main {
	width: 3%;
	margin: 0 !important;
}

#div_categories {
	/*text-align:center;*/
}

.div-no-categories {
	margin: 10% auto;
	display: none;
}

.div-catItem  {
	display: inline-table;
    vertical-align: middle;
    border: 1px solid #DDDDDD;
    width: 25%;
    box-sizing: border-box;
    height: 100px;
    /* line-height: 40px; */
    text-align: center;
}
.div-catItem div  {
	/*margin: auto;*/
	display: table-cell;
    vertical-align: middle;
    padding: 5px;
}
.div-catItem div img {
	/*margin: auto;*/
	/*display: table-cell;
    vertical-align: middle;*/
    width: 35%;
}
.div-catItem  p {
	/*margin: 0;*/
	/*padding: 5px;*/
	/*word-break: break-all;
	font-size: 1em;
    line-height: 1.3;*/
    /* font-family: calibri; */
    /*font-weight: bold;*/
    margin: 0;
    word-break: break-all;
    font-size: 0.7em;
    line-height: 1.3;
    font-weight: bold;
}
#latestAds li img {
	margin-top: 10px;
	margin-bottom: 10px;
}

#latestAds li {
	padding: 5px 10px 5px 10px;
}
/*#btn_adPost {
	position: absolute;
	top: 65%;
	right: 10%;
	padding: 1%;
	text-align:center;
	background: #fc9e1a;
	border: 1px solid #fc9e1a;
	border-radius: 50%;
}
#btn_adPost p {
	margin: 25% auto;
	color: #444444;
	font-weight: bold !important;
}*/
.div_category p {
	/*margin: 0;
	padding: 3% 2% 3% 2%;
	background: #DDDDDD;*/
	/*font-size: 14px;*/
	margin: 0;
    padding: 10px;
    background: #DDDDDD;
    font-size: 1em;
}
.div_category div {
	padding: 4% 2% 4% 2%;
}
.div_category div label {
	/*font-size: 16px;
    color: #777777;*/
    font-size: 0.9em;
    color: #777777;
    font-weight: bold;
}
.div_category div select {
	/*padding: 2%;
    width: 100%;
    border: none;
	background: #FFFFFF;
    border-bottom: 1px solid #777777;*/
    padding: 5px;
    width: 98%;
    border: none;
    background: #FFFFFF;
    border-bottom: 1px solid #777777;
    font-size: 0.9em;
}
.div_adDtls p {
	/*margin: 0;
	padding: 3% 2% 3% 2%;
	background: #DDDDDD;*/
	/*font-size: 14px;*/
	margin: 0;
    padding: 10px;
    background: #DDDDDD;
    font-size: 0.9em;
}
.div_adDtls div {
	padding: 4% 3% 0% 2%;
}
.div_adDtls div label {
	/*font-size: 16px;
    color: #777777;*/
    font-size: 0.9em;
    color: #777777;
    font-weight: bold;
}
.div_adDtls div input{
	/*padding: 1%;
	width: 100%;
    border: none;
    border-bottom: 1px solid #777777;*/
    padding: 7px;
    width: 98%;
    border: none;
    border-bottom: 1px solid #777777;
    margin-left: 0;
    margin-bottom: 0;
}
.div_adDtls div input[type=text] {
	text-transform: capitalize;
}
.div_adDtls div textarea {
	/*padding: 1%;
	width: 100%;
	height: 50px;
    border: none;
	text-transform: capitalize;
    border-bottom: 1px solid #777777;*/
    padding: 5px;
    width: 100%;
    height: 50px;
    border: none;
    text-transform: capitalize;
    border-bottom: 1px solid #777777;
    font-size: 0.8em;
}
#btn_sbmitAd, #btn_updtAd {
	/*background: #fc9e1a;
	border: 1px solid #fc9e1a;
	color:#444444;
	width: 94%;
	margin: 2% auto;
	text-shadow: none;
	box-shadow: none;*/
	width: 94%;
	margin: 10px auto;
	padding: 10px;
	/*display: none;*/
	/*padding:1% !important;*/
	/*font-size: 18px;*/
}
#search-city {
	/*width: 100%;*/
}
.cd_element {
	padding: 2px;
}
.cd_element .cd_element_img{
	display: inline-block;
	vertical-align:middle;
	text-align:center;
	width:16%;
}
.cd_element .cd_element_img img {
	width:70%;padding: 5px;
}
.cd_element .cd_element_dts{
	display: inline-block;
	vertical-align:middle;
	width:82%;
}

.cd_element_dts_2 {
	margin:0;font-size: 0.8em;padding:2px;color:#666;font-weight: bold;
}
.cd_element_dts_1 {
	margin:0;color:#444;font-size: 1em;padding: 2px;
}

.preview-area {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.preview-area div {
  vertical-align: middle;
  display: inline-block;
}
.preview-area img {
  max-width: 100%; 
}
.img-wrap {
    position: relative;
    display: inline-block;
    border: 1px red solid;
    font-size: 0;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
.img-wrap:hover .close {
    opacity: 1;
}
#myProgress {
  width: 90%;
  background-color: #ddd;
  margin: 5% auto;
}
#showProgress {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
}
#upldPrgrs-popup {
	width: 90% !important;
    left: 5% !important;
    right: 5% !important;
	background:#FFF;
	padding:1%;
}
.container-outer {
	overflow-x:auto;
	overflow-y:hidden;
    white-space: nowrap;
	padding:1%;
	text-align:center;
}
.container-outer div {
  vertical-align: middle;
  display: inline-block;
}
.container-outer img {
  max-width: 100%; 
}
.li_imgGrid {
	overflow-x:auto;
	overflow-y:hidden;
    white-space: nowrap;
	text-align:center;
}
.li_imgGrid div {
  vertical-align: middle;
  display: inline-block;
  margin-right:5px;
}
.li_imgGrid img {
  max-width: 100%; 
}
#search, #search-city {
	background: transparent !important;
    border: none;
    box-shadow: none;
    color: #FFF;
    font-size: 0.9em;
    width: 100%;
    outline: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #FFFFFF;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFF;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFF;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #FFF;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #FFF;
}
input[type="search"]::-webkit-search-cancel-button {

}
.float-button {
	background-color:#fc9e1a;
	opacity: 0.9;
	color: white;
	border-radius: 50%;
	/*padding: 25px;*/
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	text-align: center;
}
 
/*.float-button .height_fix {
	  margin-top: 100%;
	  border: 1px solid red;
}*/
 
.float-button .content {
	 /* position: absolute;
	  left: 0;
	  top: 50%;
	  height: 100%;
	  width: 100%;
	  text-align: center;
	  margin-top: -20px;
	  color: white;
	  font-size: 4vw;*/
	  color: #FFFFFF;
}



@media all and (min-width: 320px){  
  	#openSearch {
		margin-right: 30px;
	    background: #BBB;
	}
	#openSearch i {
		padding: 7px;
	    font-size: 1.2em;
	    color: #FFF;
	}   
}

@media all and (min-width: 375px){  
  	#openSearch {
		margin-right: 35px;
	    background: #BBB;
	}
	#openSearch i {
		padding: 10px;
	    font-size: 1.2em;
	    color: #FFF;
	}   
}  

@media all and (min-width: 420px){  
  	#openSearch {
		margin-right: 40px;
	    background: #BBB;
	}
	#openSearch i {
		padding: 13px;
	    font-size: 1.2em;
	    color: #FFF;
	} 
} 

@media all and (min-width: 480px){  
  	#openSearch {
		margin-right: 40px;
	    background: #BBB;
	}
	#openSearch i {
		padding: 13px;
	    font-size: 1.5em;
	    color: #FFF;
	} 
}

@media all and (min-width: 520px){  
  	#openSearch {
		margin-right: 50px;
	    background: #BBB;
	}
	#openSearch i {
		padding: 16px;
	    font-size: 2em;
	    color: #FFF;
	} 
} 

@media only screen and (min-width: 768px) {     
  	#openSearch {
		margin-right: 75px;
	    background: #BBB;
	}
	#openSearch i {
		padding: 21px;
	    font-size: 3em;
	    color: #FFF;
	} 
}

.allow-dropdown {
	padding-top: 0px !important;
	padding-left: 0px !important;
}
